
xddsource/bin/

xddsource/gddospo/__pycache__/
xddsource/lib/
xddsource/lib64

.env
.venv

src/gddospo/__pycache__/

uv.lock

tests/__pycache__/

.vscode/

src/ospotools/__pycache__/

src/ospotools.egg-info/

failed_extract.json

failed_extract.csv
